[Unit]
Description=Start USB Ethernet gadget
Conflicts=storage-gadget-init.service

[Service]
RemainAfterExit=yes
ExecStart=/sbin/modprobe g_ether host_addr=00:dc:c8:f7:75:05 dev_addr=00:dd:dc:eb:6d:f1
ExecStartPost=/sbin/ifconfig usb0 192.168.7.2 netmask 255.255.255.252
ExecStop=/sbin/rmmod g_ether
